.newForm {
    display: flex;
    flex-direction: column;
    input {
        border: none;
        height: 52px;
        &:focus {
            outline: none;
        }
    }
    .timeLevel {
        display: flex;
        width: 100%;
        justify-content: space-between;
        div {
            width: 49%;
        }
    }
}

.styleInput {
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
    input {
        width: 100%;
        padding-left: 12px;
        padding-top: 20px;
        font-size: 16px;
    }
    label {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        padding-left: 12px;
        border-bottom: 1px solid black;
        &::after {
            content: "";
            bottom: -1px;
            right: 0px;
            left: -1px;
            border: 2px solid #0D6DFD;
            position: absolute;
            transform: translateX(-100%);
            transition: transform .3s ease;
        }
        span {
            position: absolute;
            bottom: 10px;
            left: 6px;
            transition: all .3s ease;
        }
    }
    
}
.newForm input:focus + .label .spanContent,
.newForm input:valid + .label .spanContent {
    transform: translateY(-100%);
    color: rgb(145, 145, 145);
}

.newForm input:focus + .label::after,
.newForm input:valid + .label::after {
    transform: translateX(0%);
}

.stepContent {
    display: flex;
    align-items: flex-end;
    label {
        padding-bottom: 4px;
    }
    .styleInput {
        flex-grow: 1;
        margin-left: 12px;
    }
}

.instructionsAndForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 62px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    border-radius: 12px;
    .flexForm {
        margin: 24px;
        background: rgb(110, 166, 250);
        border-radius: 8px;
        .styleInput input {
            background: rgb(110, 166, 250);
        }
    }
}

.form {
    background: white;
    padding: 40px;
    margin: 32px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}

.newStep {
    border: 1px solid transparent;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #0D6DFD;
    color: white;
    width: 100px;
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    transition: all ease .4s;
    &:hover {
        cursor: pointer;
        background-color: white;
        color: #0D6DFD;
        border: 1px solid #0D6DFD !important;
    }
}

.submitBtn {
    border: 1px solid transparent !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #0D6DFD;
    color: white;
    top: 24px;
    height: auto !important;
    transition: all ease .4s;
    &:hover {
        cursor: pointer;
        background-color: white;
        color: #0D6DFD;
        border: 1px solid #0D6DFD !important;
    }
}

@media (max-width: 640px) {
    .form {
        padding: 20px;
        margin: 20px;
    }
}