.RecipeCard {
    display: inline-block;
    width: 300px;
    text-align: center;
    margin: 12px;
    height: 160px;
    background-image: linear-gradient(rgba(240,240,240,.3), rgba(240,240,240,.3)), url('/home.jpg');
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,.2);
    transition: all ease .4s;
    &:hover {
        transform: scale(1.05);
    }
}
.recipe {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    transition: all ease .4s;
    &:hover {
        backdrop-filter: blur(2px);
    }
}